.no-dizmo-drag {
  -apple-dashboard-region: dashboard-region(control rectangle); }

  body {
    margin: 0px;
    padding: 0px; }

    #front {
      width: 100%; }
      #front .center {
        margin-left: auto;
        margin-right: 100px;
        width: 112px;
        margin-top: 50px; }
        #front .center p {
          font-size: 40px;
          font-weight: bold;
          color: white; }

#back .done-btn-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center; }
  #back .done-btn-wrapper .done-btn {
    margin-bottom: 20px; }
